[Unit]
Description=Set Fake Hardware Clock
After=systemd-udev-trigger.service

[Service]
EnvironmentFile=/etc/em.conf
Type=simple
ExecStart=/usr/bin/fake-hwclock save
