[Unit]
Description=EM Web Server
After=em-rec.service
Wants=em-rec.service
ConditionFileNotEmpty=/etc/em.conf

[Service]
ExecStart=/usr/bin/node /opt/em/server.js
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin
Environment=NODE_ENV=production
Nice=-2
KillMode=process
Restart=always
SuccessExitStatus=1
