[Unit]
Description=EM Web Server
ConditionFileNotEmpty=/etc/em.conf
Wants=em-rec.service
After=em-rec.service

[Service]
ExecStart=/usr/bin/node /opt/em/server.js
Environment=PATH=/bin:/sbin:/usr/bin:/usr/sbin
Environment=NODE_ENV=production
Nice=-2
KillMode=process
Restart=always
SuccessExitStatus=130 143
